.cd-devices-father {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cd-devices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 800px;
  img {
    width: 100px;
    height: 250px;
  }
}

.spaces {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.rooms {
/*   display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  gap: 30px;
  flex: 1;
  overflow-x: scroll;
  margin: 30px;
  box-shadow: 4px 3px 15px 0px rgb(0 0 0 / 75%);
  padding: 20px;
  border-radius: 20px;
 */
 display: flex;
 flex-wrap: wrap;
 row-gap: 30px;
 gap: 33px;
 flex: 1 1;
 overflow-x: scroll;
 margin: 50px;
 box-shadow: 4px 3px 15px 0px rgb(0 0 0 / 75%);
 padding: 30px;
 border-radius: 32px;
 flex-direction: row;
 justify-content: center;
}
  


.rooms::-webkit-scrollbar {
  width: 0;
}

.room-form {
  width: 30%;
  display: block;
  box-sizing: border-box;
  border: 10px solid black;
  margin: 0px;
  padding-bottom: 20px;
  border: 0.779891px solid #b4b4b4;
  border-radius: 16px;

  img {
    height: 125px;
  }

  button {
    cursor: pointer;
  }

  &__btn-group {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
  }
}

.form__btn{ 
width: 100px;
height: 35px;
box-shadow: 0px 4.67935px 10.9185px 1.55978px rgba(0, 0, 0, 0.25);
border: 0;
border-radius: 10px;
background: #32a8ea;
color: #ffffff;
font-family: "Open Sans";
font-style: normal;
font-size: 20px;
text-align: center;
letter-spacing: -0.0211em;
cursor: pointer;
}